$red: rgb(255, 50, 48);
$light_blue: rgb(85, 190, 240);
$blue: rgb(0, 122, 255);
$dark_blue: rgb(0, 64, 221);
$green: rgb(40, 205, 65);
$yellow: rgb(255, 204, 0);

$lighter_gray: rgb(142, 142, 147);
$light_gray: rgb(99, 99, 102);
$gray: rgb(44, 44, 46);
$dark_gray: rgb(28, 28, 30);

$transparent: rgba(0, 0, 0, 0);
