.controlCenterLabel {
    background: $dark_gray;
    margin: 0.25rem 0rem;
    border-radius: 0.5rem;
}

.controlCenterLabel.title {
    font-size: 3rem;
}

.controlCenterModule {
    background: $gray;
    border: 1px solid;
    border-radius: 1rem;
    border-color: $light_gray;
    margin: 0.5rem 0rem;
}

.battChrg {
    background: $transparent;
    font-size: 2.5rem;
}

.battChrg.charging {
    color: $green;
}

.battChrg.notCharging {
    color: $yellow;
}

.battChrg.critical {
    color: $red;
}

.battChrgLimit {
    background: black;
    color: $gray;
}

.battStatus {
    background: $light_gray;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
    padding: 1rem 0rem;
    min-height: 10rem;
}

.battStats {
    background: $light_gray;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0.25rem 0.25rem;
    min-height: 9rem;
}

.fanMode.quiet {
    background: $light_gray;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.fanMode.quiet:hover {
    background: $lighter_gray;
}

.fanMode.quiet.Quiet {
    background: $blue;
}

.fanMode.balanced {
    background: $light_gray;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.fanMode.balanced:hover {
    background: $lighter_gray;
}

.fanMode.balanced.Balanced {
    background: $blue;
}

.fanMode.performance {
    background: $light_gray;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
}

.fanMode.performance:hover {
    background: $lighter_gray;
}

.fanMode.performance.Performance {
    background: $blue;
}
