.wifi, .bluetooth, .keyboard, .brightness, .volume, .battery {
    margin: 0rem 0.5rem;
}

// WiFi
.wifi.enabled {
    color: $light_gray;
}

.wifiLabel {
    margin: 0rem 0rem 0rem 0.5rem;
}

.wifiLabel.disabled {
    color: $light_gray;
}

// Bluetooth
.bluetooth.enabled {
    color: $light_gray;
}

.bluetoothLabel {
    margin: 0rem 0rem 0rem 0.5rem;
}

.bluetoothLabel.disabled {
    color: $light_gray;
}

// Quick settings menu
.controlCenterButton {
    padding: 0rem 0.5rem;
}

.controlCenterButton:hover {
    background: $light_gray;
    border-radius: 0.5rem;
}

.logout {
    padding: 0rem 0.5rem;
}

.logout:hover {
    background: $light_gray;
    border-radius: 0.5rem;
}
