* {
  all: unset;
  font-size: 14px;
  font-family: "SF Mono", "FontAwesome6Free";
  font-weight: 600;
  padding: 0rem 0.25rem;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

tooltip {
  background: rgb(99, 99, 102);
  border: solid 2px rgb(44, 44, 46);
  border-radius: 0.5rem;
}

tooltip label {
  color: white;
  padding: 0rem 1rem;
}

#idle_inhibitor {
  margin: 0rem 0rem 0rem 1rem;
  padding: 0rem 0.25rem;
}

#idle_inhibitor.deactivated {
  color: gray;
}

#idle_inhibitor.activated {
  border-bottom: solid 2px rgb(40, 205, 65);
}

#workspaces {
  color: grey;
}

#workspaces button {
  padding: 0rem 0.25rem;
}

#workspaces button.active {
  color: white;
  border-bottom: solid 2px white;
}

#workspaces button.special {
  color: white;
}

#workspaces button.urgent {
  color: white;
  border-bottom: solid 2px rgb(255, 50, 48);
}

#custom-dunst {
  margin: 0rem 1rem 0rem 0rem;
  padding: 0rem 0.25rem;
}

#custom-dunst.disabled {
  color: grey;
}

#custom-dunst.enabled {
  border-bottom: solid 2px rgb(40, 205, 65);
}

#cpu, #disk, #memory {
  margin: 0rem 0rem 0rem 1rem;
}

#custom-media.Paused {
  color: grey;
}

#tray {
  padding: 0rem 0.25rem;
}

#tray menu {
  padding: 0.5rem 0rem;
  border: solid 2px rgb(44, 44, 46);
}

#tray menu menuitem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#tray > .active {
	background: none;
	/* border-bottom: 2px solid red; */
}

#tray > widget:hover {
  background: rgba(255, 255, 255, 0.2);
}

#network {
  padding: 0rem 0.25rem;
}

#network.disconnected {
  color: grey;
}

#network.linked, #network.ethernet, #network.wifi {
  border-bottom: solid 2px rgb(40, 205, 65);
}

#bluetooth {
  padding: 0rem 0.25rem;
}

#bluetooth.on {
  color: grey;
}
#bluetooth.connected {
  border-bottom: solid 2px rgb(40, 205, 65);
}

#wireplumber.muted {
  color: grey;
}

#battery {
  margin: 0rem 1rem 0rem 0rem;
}

#battery.not-charging {
  color: white;
}

#battery.charging {
  border-bottom: solid 2px rgb(40, 205, 65);
}

#battery.low {
  color: rgb(255, 204, 0);
}

#battery.warning, #battery.critical {
  color: rgb(255, 50, 48);
}
